<!doctype html>
<html ng-app="subeditor">
  <head>
    <script src="lib/underscore.js"></script>

    <script src="lib/jspos/lexicon.js_"></script>
    <script src="lib/jspos/lexer.js"></script>
    <script src="lib/jspos/POSTagger.js"></script>

    <script src="src/reference.js"></script>
    <script src="src/word_analyser.js"></script>
    <script src="src/tagged_word_analyser.js"></script>
    <script src="src/sentence_voice.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="lib/ngStorage.js"></script>

    <script src="src/linter.js"></script>

    <link rel="stylesheet" href="assets/linter.css">
  </head>
  <body>
    <h2>Voice Detection</h2>
    <div ng-controller="LinterController">
      <div class="input">
        <textarea ng-model="$storage.rawtext" placeholder="It was a dark and stormy night."></textarea>
      </div>
      <div class="notes">
        <p class="paragraph" ng-repeat="paragraph in paragraphs()">
          <span ng-repeat="sentence in sentences(paragraph)">
            <span class="{{voice(sentence)}}"> {{sentence}} </span>
          </span>
        </p>
      </div>
      <div class="legend">
        <p class="active">Sentences in black are active sentences</p>
        <p class="likely-active">Sentences in green are probably active sentences</p>
        <p class="likely-passive">Sentences in orange are probably passive sentences</p>
        <p class="passive">Sentences in red are passive sentences</p>
      </div>
      <div class="notes">
        <h3>Notes</h3>
        <p class="paragraph" ng-repeat="note in $storage.notes">
          <!-- <span>{{note.sentence}}</span> -->
          <!-- <span>{{note.reason}}</span> -->
        </p>
      </div>
    </div>
    <!--script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6423107-6', 'writing-linter.s3-website-us-east-1.amazonaws.com');
      ga('send', 'pageview');

    </script-->
  </body>
</html>