<!doctype html>
<html ng-app>
  <head>

    <script src="lib/underscore.js"></script>

    <script src="lib/jspos/lexicon.js_"></script>
    <script src="lib/jspos/lexer.js"></script>
    <script src="lib/jspos/POSTagger.js"></script>

    <script src="src/reference.js"></script>
    <script src="src/word_analyser.js"></script>
    <script src="src/tagged_word_analyser.js"></script>
    <script src="src/sentence_voice.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

    <script src="src/linter.js"></script>
    <link rel="stylesheet" href="assets/linter.css">
  </head>
  <body>
    <h2>Voice Detection</h2>
    <div ng-controller="LinterController">
      <div class="input">
        <textarea ng-model="rawtext" placeholder="It was a dark and stormy night."></textarea>
      </div>
      <div class="notes">
        <p class="paragraph" ng-repeat="paragraph in paragraphs()">
          <span ng-repeat="sentence in sentences(paragraph)">
            <span class="{{voice(sentence)}}"> {{sentence}} </span>
          </span>
        </p>
      </div>
    </div>
  </body>
</html>