body {
	font-size: 16px;
}

textarea {
	width: 100%;
	min-height: 400px;

	font-size: 16px;
}

.input {
	border: 1px dashed blue;

	display: inline-block;
	width: 40%;
	height: 100%;
}

.notes {
	border: 1px dashed green;
	float: right;
	display: inline-block;
	width: 45%;
	height: 100%;
}

.paragraph {
	padding-top: 0;
	margin: 0;
	padding-bottom: 1em;
}

.legend {
	float: left;
}

.active {
	color: black;
}

.passive {
	color: red;
}

.likely-active {
	color: green;
}

.likely-passive {
	color: darkorange;
}

.avoid {
	color: red;
}

span:hover {
	background-color: #ddd;
};